* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Noto Sans', sans-serif;
}

em.seo, strong.seo {
    font-weight: normal;
    font-style: normal;
}

body {
  background: white;
}

/*header*/
.barner_header_wrapper {
    width: 100%;
    background:#003B64;
}
.barner {
    width: 20%;
    padding:10px;
}
.barner img{
    width: 25%;
    vertical-align: middle;
}
.barner:not(:first-of-type){
    margin-left: 15%;
}
.barner_header_wrapper .barner  {
    display: inline-block;
}
.barner:first-of-type {
    margin-left: 9%;
}
.barner span {
	    display: block;
		color: white;
}
.login_user {
	display: none;
}

.menu_container li {
    display: inline-block;
    padding: 20px;
}
.menu_container li:hover {
  background: #f6f6f5;
}
.menu_container li a {
  text-transform: uppercase;
  color: #4D4D4F;
}

.menu_container {
  width: 35%;
margin-left: 32.5%;
margin-right: 32.5%;
}

.menu_container li:not(:first-of-type) {
    margin-right: 10px;
}

.login_user_scaleUpDown {
	transform: scale(1);
}
.user_login_container {
	cursor: pointer;
}
/*Les aubaiones par categorie*/

.image_categorie {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #f6f6f5;
}

.categorie_icon {
    width: 9%;
    padding: 15px;
    vertical-align: middle;
}

.categorie_icon:hover {
    background: white;
    box-shadow: 1px 1px 1px black;
}

.icon_wrapper, .icon_wrapper img {
    width: 100%;
}

.icon_wrapper li:nth-of-type(2) {
    text-align: center;
    color: black;
}
.icon_wrapper li a {
  color: #003B64;

}

.image_categorie .categorie_icon {
    display: inline-block;
    margin: 5%;
}

.image_categorie h1 {
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    color: white;
    background: #003B64;
    font-size: 50px;
}
/*Aubaine choix*/

.aubaine_choix_user > img{
    width:100%;
    vertical-align: middle;
}
.aubaine_choix_user{
    width: 20%;
    margin:5%;
    padding: 10px;
}
.aubaine_choix_user p {
    background: #003B64;
    width:100%;
    text-align: center;
    padding: 10px;
}
.aubaine_choix_user p a {
    color:white;

}
.aubaine_choix_user_wrapper{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background: white;
}
.aubaine_choix_user_wrapper .aubaine_choix_user {
    display: inline-block;
}
.aubaine_choix_user_wrapper h1{
    width:40%;
    background:#003B64;
    padding:10px;
    text-align: center;
    margin-right: 30%;
    margin-left: 30%;
    color: white;
}
.aubaine_choix_user h2 {
    color: #003B64;
}
.aubaine_choix_user p:hover {
    background: #F5F5F5;
}
.aubaine_choix_user p:hover a {
    color :#003B64;
    border-bottom: 1px solid #003B64;;
}
.aubaine_choix_user:hover {
    background:#F5F5F5;
    cursor: pointer;
}
/*...............DERVYS....SLIDER..................*/


.promo_carrusel { /*centramos el div conteneur*/
    width: 90%;
    margin: auto auto 60px auto;
    overflow: hidden;
    /*background-color: white;*/
}

#slider { /*on dimension les div img */
    position: relative;
    width: 1000%;
    animation-name: slidy;
    animation-duration: 20s;

}

div.promo_carrusel div#slider figure { /*faire floter les imagen */
    background-color: #f6f6f5;
    color: #003B64;
    /*text-align: center;*/
    position: relative;
    width: 5%;
    height: 230px;
    padding: 5px;
    float: left;

}
div.promo_carrusel div#slider a {
    color: #003B64;
}

div.promo_carrusel div#slider img {
    /*margin-left: 25px;*/
    margin-top: 6px;
    /*width: 40%;*/
}


div.promo_carrusel div#slider div.slider_droit {
    width: 45%;
    float: right;
    padding-top: 40px;
}

div.promo_carrusel div#slider div.slider_droit h4 {
    width: 12%;
    float: left;
}
div.promo_carrusel div#slider div.slider_droit p {
    width: 50%;

}

div.promo_carrusel div#slider div.slider_droit h2 {
    color: white;
    padding: 10px ;
    background: #003B64;
}


@-webkit-keyframes slidy {
    0% 	    { left: 0; }
    16.70% 	{ left: 0; }
    20%	    { left: -100%; }
    36.70% 	{ left: -100%; }
    40%	    { left: -200%; }
    56.70% 	{ left: -200%; }
    60%	    { left: -300%; }
    76.70% 	{ left: -300%; }
    80%	    { left: -400%; }
    96.70% 	{ left: -400%; }
    100% 	{ left: -500%; }


}

@keyframes slidy {
    0% 	    { left: 0; }
    16.70% 	{ left: 0; }
    20%	    { left: -100%; }
    36.70% 	{ left: -100%; }
    40%	    { left: -200%; }
    56.70% 	{ left: -200%; }
    60%	    { left: -300%; }
    76.70% 	{ left: -300%; }
    80%	    { left: -400%; }
    96.70% 	{ left: -400%; }
    100% 	{ left: -500%; }
}
/*.........................FIN......SLIDER.......................*/

/*.........................DERVYS.....FOOTER.................................*/

footer {
    background-color: #003B64;
    width: 90%;
    min-height: 360px;
    margin: 0 auto;
    font-size: 12px;
    color: white;
    text-align: center;
    /*padding-bottom: 10px;*/

}

footer div {
    width: 33%;
    float: left;
    margin: 2% auto;


}

footer div.coordonees,
footer div.social {
    border-right: 2px solid darkgray;
}


footer h2 {
  padding-top: 2px;
}


footer p {
    font-size: 12px;
    /*margin: 5% auto;*/
}

footer  a {
    width: 10%;
    font-size: 12px;
    color: white;
    padding: 2px;

}

footer li {
    padding: 2px;
}



footer div.coordonees a{
    margin: 5% auto;
}


footer div.social ul#apli {
    margin-top: 20px;
}

footer div.social ul#apli li {
    display: inline-block;
    width: 50%;
    /*vertical-align: middle;*/

}

footer div.social ul#apli li:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)

}


footer div.social ul#apli li img {
    width: 30px;
    vertical-align: middle !important;
    margin-right: 5px;
}


footer div.social h3 {
    margin: 20px auto;
}


footer div.social ul#redes li {
    width: 20%;
    display: inline-block;
}

footer div.social ul#redes li:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}

footer div.social ul#redes li img {
    width: 40px;
    display: inline-block;
    margin-top: 5px;
}

footer div.horaires h4 {
    width: 40%;
    /*display: inline-block;*/

}

footer div.horaires table {
    width: 100%;
    text-align: center;


}

footer div.horaires p {
    margin-top: 75px;

}
/*...................FIN...FOOTER............*/


/*..............................................*/
                /*PARTI.....YOUNES*/
/*.................................................*/

/*page formulaire */







/*Partie responsive page acceuil*/
@media only screen and (max-width: 414px)  {

    .menu_container {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    /*.................menu hamburger.....................*/

    .menu-btn {
        padding:6px;
    }
    /*on style le hamburger*/
    .menu-btn span {
        display: block; /*les span se placent les uns sous les autres*/
        width: 50px; /*largeur de la rayure*/
        height: 3px; /*hauteur de la rayure*/
        margin: 8px 0; /*on les sépare*/
        /*background: rgb(255,255,255); !*couleur des rayures*!*/
        background-color: #003B64;
        z-index: 99;
    }
    /*on cache le menu par défaut*/
    .menu_container{
        display: none;
    }
    .expand {
        display: block !important;
    }

    .menu_container li {
        display: block;
        width:100%;
        text-align: center;

    }
    .menu_container li a {
        display: block;
    }
    .categorie_icon {
		width: 28%;
		margin: 10%;
	}
	.image_categorie .categorie_icon{
		margin: 10%;
	}
    /*fin partie reponsive pour la page acceuil*/

    /*...........reponsive contacte................*/

    div.col-9 #form {
        width: 100%;
    }


    /* ....RESPONSIVE FOOTER DERVYS...*/
    div#slider {
        display: none;
    }
    footer div.coordonees {
        width: 100%;

    }

    footer div.coordonees h2 {
        margin: auto;
    }
    footer div.coordonees a {
        display: none;

    }

    footer div.social {
        display: none;
    }

    footer div.horaires {
        width: 100%;
        text-align: center;
        height: auto;
    }

    footer div.horaires p {
        margin-top: 5px;
    }
}

>>>>>>> e444f5ad602edf6ed7ca2d1f9cf9a1aae65d43c4

/*................younes contacte..................*/

div.col-9{
    width: 90%;
    margin: auto auto 3%;
    border-radius: 5px;
    background-color: #f2f2f2;

}
div.col-9 #form {
    background-color: rgba(0, 59, 100, 0.5);
    width: 80%;
    margin: auto;
    padding: 20px;
}

div.invalid {
    width: 80%;
    margin: auto;
}

div.invalid label{
    display: inline-block;
    width: 13%;
}

div.invalid p {
    width: 70%;
    margin: auto;
    font-size: small;
}

div.invalid input {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #003B64;
    border-radius: 4px;
    box-sizing: border-box;
}


div.invalid label#code {
    width: auto;
    margin-left: 15%;
}
div.invalid input#idcode_postal {
    width: 25%;
}

div.invalid select#ville {
    width: 25%;
    padding: 10px;
    border: 1px solid #003B64;
    border-radius: 4px;

}

div.submit {
    width: 40%;
    text-align: center;
    margin-left: 58%;

}

input#submit {
    margin: auto;
}
#submit {
    width: 30%;
    background-color: #003B64;
    color: white;
    padding: 14px 20px;
    /*margin: 8px 0;*/
    margin-left: 20%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#submit:hover {
    background-color: #003B64;
}

/*................SERVICES....YOUNES.................*/

div.fr_conect {
    width: 90%;
    color: #003B64;
    background-color: #f2f2f2;
    margin: auto auto 3%;
}

div.fr_conect form {
    background-color: rgba(0, 59, 100, 0.5);
    width: 50%;
    margin: auto;
    padding: 2%;
    text-align: -webkit-center;
}
div.fr_conect form h2 {
    margin: 2% auto;
    width: 50%;

}


div.fr_conect form label {
    display: inline-block;
    width: 20%;

}

div.fr_conect input, div.fr_conect textarea{
    border: 1px solid #003B64;
    border-radius: 4px;
    padding: 2px;
    width: 60%;
    margin: 2px auto;
}

div.fr_conect input#coment {
    width: 10%;
    display: inherit;
}

/*@media only screen and (max-width: 960px){*/
    /*#wrapper{*/
        /*width: 100%;*/
    /*}*/
    /*.col-9{*/
        /*border-radius: 5px;*/
        /*background-color: #003B64;*/
        /*padding: 20px;*/

    /*}*/
    /*#submit{*/
        /*width:calc(100% / 2);*/
    /*}*/
    /*input[type=text],#birthday {*/
        /*width:calc(100% / 2);*/
        /*margin-left: 13%;*/
    /*}*/
    /*label{*/
        /*display: block;*/
        /*color: blue;*/
        /*margin-left: 15%;*/
    /*}*/
/*}*/
/*!*....................yunnes............*!*/
/*@media only screen and (max-width:768px ){*/
    /*#wrapper{*/
        /*width: 100%;*/
    /*}*/
    /*.ecrire{*/
        /*width: 100%;*/
    /*}*/
    /*.col-9{*/
        /*border-radius: 5px;*/
        /*background-color: #f2f2f2;*/
        /*padding: 20px;*/
        /*margin-left: 13%;*/
        /*margin-right: 13%;*/
    /*}*/
    /*#submit{*/
        /*width: 70%;*/
        /*margin-left: 10%;*/
    /*}*/
    /*input[type=text] {*/
        /*width:calc(100% / 2);*/
    /*}*/


    /*label{*/
        /*display: block;*/
        /*color: lightcoral;*/
        /*margin-left: 15%;*/
    /*}*/
    /*section{*/
        /*margin-left: 30%;*/
    /*}*/

/*}*/

.open_menu {
    transform: scale(1);
    transform-origin: top left;
}
/*Partie responsive page acceuil*/
@media only screen and (max-width: 414px)  {

    .responsive_menu {
        display: block;
    }
    /*HEADER*/
    .barner {
        width: 19%;
    }
    .barner img {
        width: 65%;
    }
    .menu_container {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        transition: .4s ease;
       display: none;

    }

    .menu_container li {
        border-bottom: 1px solid #003B64;
        width:100%;
        text-align: center;

    }
    .menu_container li a {
        display: block;
    }
    .categorie_icon {
        width: 28%;
        margin: 10%;
    }
    .image_categorie .categorie_icon{
        margin: 10%;
    }
    /*fin partie reponsive pour la page acceuil*/
    /* ....RESPONSIVE FOOTER DERVYS...*/
    div#slider {
        display: none;
    }
    footer div.coordonees {
        width: 100%;

    }

    footer div.coordonees h2 {
        margin: auto;
    }
    footer div.coordonees a {
        display: none;

    }

    footer div.social {
        display: none;
    }

    footer div.horaires {
        width: 100%;
        text-align: center;
        height: auto;
    }

    footer div.horaires p {
        margin-top: 5px;
    }
}





