*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Noto Sans', sans-serif;
}
.logo{
  width: 30%;
  vertical-align: middle;
}
.menu_container li {
  display: inline-block;
}
.menu_container{
  width: 70%;
}
.menu_container li:not(:first-of-type){
  margin-right: 10px;
}
