* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Noto Sans', sans-serif;
}
body {
  background: #F5F5F5;
}
/*header*/
.logo {
    width: 30%;
    vertical-align: middle;
    padding: 20px;
}
.logo_container {
  width: 100%;
}
.header_wrapper{
  width: 90%;
  vertical-align: middle;
  margin-right: 5%;
  margin-left: 5%;
  background: #003B64;
}
.header_wrapper li {
  display: inline-block;
}
.header_wrapper li:first-of-type {
  width: 50%;
}
.header_wrapper li:last-of-type img {
  width: 20%;
  vertical-align: middle;
}

.menu_container li {
    display: inline-block;
    padding: 20px;
}
.menu_container li:hover {
  background: white;
}
.menu_container li a {
  text-transform: uppercase;
  color: #4D4D4F;
}

.menu_container {
  width: 35%;
margin-left: 30%;
margin-right: 30%;
}

.menu_container li:not(:first-of-type) {
    margin-right: 10px;
}


/*Les aubaiones par categorie*/

.image_categorie {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
}

.categorie_icon {
    width: 9%;
    padding: 15px;
    vertical-align: middle;
}

.categorie_icon:hover {
    background: white;
    box-shadow: 1px 1px 1px black;
}

.icon_wrapper, .icon_wrapper img {
    width: 100%;
}

.icon_wrapper li:nth-of-type(2) {
    text-align: center;
    color: black;
}
.icon_wrapper li a {
  color: #003B64;
  text-transform: uppercase;
}

.image_categorie .categorie_icon {
    display: inline-block;
    margin: 5%;
}

.image_categorie h1 {
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    color: white;
    background: #003B64;
    font-size: 50px;
}


/*..............................footer.................................*/

footer {
    width: 90%;
    margin: 2% auto;
    font-size: 12px;

}

footer article {
    display: block;
    width: 30%;
    height: 100%;
    float: left;
    padding: 0 5%;
}

footer article h2 {
    margin-bottom: 5%;
}

footer p {
    font-size: 10px;
}



footer article a {
    margin: 5% auto;

}
footer article:nth-of-type(1),
footer article:nth-of-type(2) {
    border-right: 2px solid darkgray;
}


footer article.coordonees {

}

footer article.horaires h4 {
    width: 40%;
    display: inline-block;
}

footer article.horaires ul li {
    width: 50%;
    display: inline-block;
}

footer article.social a img:nth-of-type(2),
footer article.social a img:nth-of-type(3){
    display: block;
    width: 100%;



}

footer article.social h4 {
    margin : 5% auto;
}

footer article.social img {
  display: inline-block;
  width: 10%;
}