* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Noto Sans', sans-serif;
}

body {
  background: white;
}
/*header*/
.logo {
    width: 30%;
    vertical-align: middle;
    padding: 20px;
}
.logo_container {
  width: 100%;
}
.header_wrapper{
  width: 90%;
  vertical-align: middle;
  margin-right: 5%;
  margin-left: 5%;
  background: #003B64;
}
.header_wrapper li {
  display: inline-block;
}
.header_wrapper li:first-of-type {
  width: 50%;
}
.header_wrapper li:last-of-type img {
  width: 20%;
  vertical-align: middle;
}

.menu_container li {
    display: inline-block;
    padding: 20px;
}
.menu_container li:hover {
  background: white;
}
.menu_container li a {
  text-transform: uppercase;
  color: #4D4D4F;
}

.menu_container {
  width: 35%;
margin-left: 30%;
margin-right: 30%;
}

.menu_container li:not(:first-of-type) {
    margin-right: 10px;
}


/*Les aubaiones par categorie*/

.image_categorie {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
}

.categorie_icon {
    width: 9%;
    padding: 15px;
    vertical-align: middle;
}

.categorie_icon:hover {
    background: white;
    box-shadow: 1px 1px 1px black;
}

.icon_wrapper, .icon_wrapper img {
    width: 100%;
}

.icon_wrapper li:nth-of-type(2) {
    text-align: center;
    color: black;
}
.icon_wrapper li a {
  color: #003B64;
  text-transform: uppercase;
}

.image_categorie .categorie_icon {
    display: inline-block;
    margin: 5%;
}

.image_categorie h1 {
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    color: white;
    background: #003B64;
    font-size: 50px;
}
/*Aubaine choix*/
.aubaine_choix_user > img{
    width:100%;
    vertical-align: middle;
}
.aubaine_choix_user{
    width: 20%;
    margin:5%;
    padding: 10px;
}
.aubaine_choix_user p {
    background: #003B64;
    width:100%;
    text-align: center;
    padding: 10px;
}
.aubaine_choix_user p a {
    color:white;

}
.aubaine_choix_user_wrapper{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background: white;
}
.aubaine_choix_user_wrapper .aubaine_choix_user {
    display: inline-block;
}
.aubaine_choix_user_wrapper h1{
    width:40%;
    background:#003B64;
    padding:10px;
    text-align: center;
    margin-right: 30%;
    margin-left: 30%;
    color: white;
}
.aubaine_choix_user h2 {
    color: #003B64;
}
.aubaine_choix_user p:hover {
    background: #F5F5F5;
}
.aubaine_choix_user p:hover a {
    color :#003B64;
    border-bottom: 1px solid #003B64;;
}
.aubaine_choix_user:hover {
    background:#F5F5F5;
    cursor: pointer;
}
/*...............DERVYS....SLIDER..................*/

.promo_carrusel {
    width: 90%;
    margin: auto auto 60px auto;
    overflow: hidden;
    /*background-color: white;*/
}

#slider {
    position: relative;
    width: 1000%;
    animation-name: slidy;
    animation-duration: 20s;

}

div.promo_carrusel div#slider figure {
    background-color: rgba(0, 59, 100, 0.5);
    color: #003B64;
    /*text-align: center;*/
    position: relative;
    width: 5%;
    height: 230px;
   padding: 5px;
    float: left;

}
div.promo_carrusel div#slider a {
    color: #003B64;
}

div.promo_carrusel div#slider a:hover{
    border-bottom: 3px solid #cda134;
}

div.promo_carrusel div#slider img {
    margin-left: 25px;
    margin-top: 6px;
    /*width: 20%;*/
}


div.promo_carrusel div#slider div.slider_droit {
    width: 50%;
    float: right;
    padding-top: 40px;
}

div.promo_carrusel div#slider div.slider_droit h4 {
    width: 12%;
    float: left;
}
div.promo_carrusel div#slider div.slider_droit p {
    width: 50%;
    float: left;
}

div.promo_carrusel div#slider div.slider_droit h2 {
    color: #ff6855;
    text-shadow: 3px 3px 5px #fffcf9;
    /*6px 6px 5px #ffc3c1,*/
    /*9px 9px 5px #fffcf9;*/
    font-size: xx-large;
    padding: 60px 0;
}


<<<<<<< HEAD
div.promo_carrusel div#slider img {
    margin-left: 25px;
    margin-top: 6px;
    /*width: 20%;*/
}


div.promo_carrusel div#slider div#slider_droit {
    width: 50%;
    float: right;
    margin-top: 55px;
}

div.promo_carrusel div#slider div#slider_droit h2 {
    color: #ff6855;
    text-shadow: 3px 3px 5px #fffcf9;
    /*6px 6px 5px #ffc3c1,*/
    /*9px 9px 5px #fffcf9;*/
    font-size: xx-large;
    padding: 20px 0;
}


@-webkit-keyframes slidy {
    0% { left: 0; }
    16.70% { left: 0; }
    33.40% { left: -100%; }
    50.1% { left: -200%; }
    66.80% { left: -300%; }
    83.50% { left: -400%; }
    100% { left: -500%; }

}

@keyframes slidy {
    0% { left: 0; }
    16.70% { left: 0; }
    33.40% { left: -100%; }
    50.1% { left: -200%; }
    66.80% { left: -300%; }
    83.50% { left: -400%; }
    100% { left: -500%; }

=======
@-webkit-keyframes slidy {
    0% 	    { left: 0; }
    16.70% 	{ left: 0; }
    20%	    { left: -100%; }
    36.70% 	{ left: -100%; }
    40%	    { left: -200%; }
    56.70% 	{ left: -200%; }
    60%	    { left: -300%; }
    76.70% 	{ left: -300%; }
    80%	    { left: -400%; }
    96.70% 	{ left: -400%; }
    100% 	{ left: -500%; }


}

@keyframes slidy {
    0% 	    { left: 0; }
    16.70% 	{ left: 0; }
    20%	    { left: -100%; }
    36.70% 	{ left: -100%; }
    40%	    { left: -200%; }
    56.70% 	{ left: -200%; }
    60%	    { left: -300%; }
    76.70% 	{ left: -300%; }
    80%	    { left: -400%; }
    96.70% 	{ left: -400%; }
    100% 	{ left: -500%; }
}
/*.........................FIN......SLIDER.......................*/

/*.........................DERVYS.....FOOTER.................................*/

footer {
    background-color: #003B64;
    width: 90%;
    height: 370px;
    margin: 2% auto;
    font-size: 12px;
    color: white;
    text-align: center;
    padding-bottom: 10px;

}

footer div {
    width: 33%;
    float: left;


}

footer div.coordonees,
footer div.social {
    border-right: 2px solid darkgray;
}


footer h2 {
    margin-bottom: 5%;
    margin-top: 5%;
}


footer p {
    font-size: 12px;
    /*margin: 5% auto;*/
}

footer  a {
    width: 10%;
    font-size: 12px;
    color: white;
    padding: 2px;

}

footer li {
    padding: 2px;
}



footer div.coordonees a{
    margin: 5% auto;
}


footer div.social ul#apli {
    margin-top: 20px;
}

footer div.social ul#apli li {
    display: inline-block;
    width: 50%;
    /*vertical-align: middle;*/

}
footer div.social ul#apli li img {
    width: 30px;
    vertical-align: middle !important;
    margin-right: 5px;
}


footer div.social h3 {
    margin: 20px auto;
}


footer div.social ul#redes li {
    width: 20%;
    display: inline-block;
}

footer div.social ul#redes li img {
    width: 40px;
    display: inline-block;
    margin-top: 5px;
}

footer div.horaires h4 {
    width: 40%;
    /*display: inline-block;*/

}

footer div.horaires table {
    width: 100%;
    text-align: center;


}



footer article.social img {
  display: inline-block;
  width: 10%;}
    /*padding: 5%;*/

footer div.horaires p {
    margin-top: 75px;

}
/*...................FIN...FOOTER............*/


/*..............................................*/
                /*PARTI.....YOUNES*/
/*.................................................*/

/*page formulaire */

.footer{
    display: block;
}


/*formulaire page service*/
label{
    display: block;
}
input[type=text], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
<<<<<<< HEAD
/*Partie responsive page acceuil*/
@media only screen and (max-width: 414px)  {
    .menu_container {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .menu_container li {
        display: block;
        width:100%;
        text-align: center;

    }
    .menu_container li a {
        display: block;
    }
    .categorie_icon {
		width: 28%;
		margin: 10%;
	}
	.image_categorie .categorie_icon{
		margin: 10%;
	}
    /*fin partie reponsive pour la page acceuil*/
=======
>>>>>>> cdfc578ecb6ef6e717b5291b4ebb42e975e075d8
}

#submit {
    width: 30%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    margin-left: 20%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#submit:hover {
    background-color: #45a049;
}
.col-9{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-left: 13%;
    margin-right: 13%;
}
@media only screen and (max-width: 960px){
    #wrapper{
        width: 100%;
    }
    .col-9{
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        margin-left: 13%;
        margin-right: 13%;
    }
    #submit{
        width:calc(100% / 2);
    }
    input[type=text],#birthday {
        width:calc(100% / 2);
        margin-left: 13%;
    }
    label{
        display: block;
        color: blue;
        margin-left: 15%;
    }
}
/*....................yunnes............*/
@media only screen and (max-width:768px ){
    #wrapper{
        width: 100%;
    }
    .ecrire{
        width: 100%;
    }
    .col-9{
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        margin-left: 13%;
        margin-right: 13%;
    }
    #submit{
        width: 70%;
        margin-left: 10%;
    }
    input[type=text] {
        width:calc(100% / 2);
    }


    label{
        display: block;
        color: lightcoral;
        margin-left: 15%;
    }
    section{
        margin-left: 30%;
    }

    div.promo_carrusel {
        display: none;

    }

    footer div.coordonees {
        width: 100%;

    }

    footer div.coordonees h2 {
        margin: auto;
    }
    footer div.coordonees a {
        display: none;

    }

    footer div.social {
        display: none;
    }

    footer div.horaires {
        width: 100%;
        text-align: center;
        height: auto;
    }

}

/*contact*/
.conatact{
    width: 40%;
    padding: 3%;
}

